.color {
    border: black solid 1px;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

#black {
    background-color: black;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#red {
    background-color: red;
}

#pixel-board {
    width: fit-content;
    height: fit-content;
}

.line {
  width: fill;
  height: 41px;
}

.pixel {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#clear-board {
  width: 100px;
  padding: 10px;
  margin: 10px;
}
